html {
    font-size: 100%;
}

body {
	font-family: 'Libre Baskerville', serif;
	font-size: 17px;
	color: #4d4d4d;
	font-weight: 400;
	line-height: 30px; 
	background-color: #fff;
	margin: 0;
    background: url(img/bg-sage.jpg) no-repeat center 50px/cover;
    
}

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f59fca+0,f59fca+16,7db9e8+100&0.4+0,0+52,0+75 */
    
    background: -moz-linear-gradient(bottom,  rgba(245,159,202,0.4) 0%, rgba(245,159,202,0.28) 16%, rgba(194,170,215,0) 52%, rgba(161,177,223,0) 75%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    
    background: -webkit-linear-gradient(bottom,  rgba(245,159,202,0.4) 0%,rgba(245,159,202,0.28) 16%,rgba(194,170,215,0) 52%,rgba(161,177,223,0) 75%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to top,  rgba(245,159,202,0.4) 0%,rgba(245,159,202,0.28) 16%,rgba(194,170,215,0) 52%,rgba(161,177,223,0) 75%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#66f59fca',GradientType=0 ); /* IE6-9 */

}

/* HEADER */

header {
    width: 1200px;
    height: 96px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
}

.logo a {
    background: url(img/logo-noir.png) no-repeat;
    display: block;
    width: 73px;
    height: 64px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.logo a:hover {
    background: url(img/logo-noir_hover.png) no-repeat;
    display: block;
    width: 73px;
    height: 73px;
    top: 25px;
}

nav {
    float: right;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__el {
    float: left;
    margin-left: 50px;
}

.nav__el a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: inline-block;
    height: 96px;
    line-height: 96px;
    opacity: 0.4;
}

.nav__el--actif a{
    background: url(img/rond-selecteur.png) no-repeat 50% 65px;
    opacity: 1;
    outline: 0;
} 

.nav__el a:hover, .nav__el a:focus {
    background: url(img/rond-blanc-selecteur.png) no-repeat 50% 65px;
    opacity: 1;
    outline: 0;
} 


/* ILLUSTRATION */

.section--main {
    height: 678px;
    position: relative;
}

h2 a{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 72px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 40%;
    margin: 0;
}


/* INDICES SLIDERS */

.indices {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 56.5px);
}

.slide__el {
    background: url(img/indice-slide-actif.png) no-repeat;
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 7px;
}

.slide__el:last-child {
    margin-right: 0;
}

.slide__el--actif {
    background: url(img/indice-slide.png) no-repeat;
}

.slide-before {
    position: absolute;
    top: 50%;
    left: calc(50% - 56.5px);
}





